body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
}
